@import url("../default.css");
/* Skin "Simple" by Renat Rafikov */
body{background:#53C9F6;font-size:13px;font-family:Helvetica, arial, freesans, clean, sans-serif;color:#6D6D6D;line-height: 19px;}
a{color:#53C9F6;}
a:hover{text-decoration:none;}
a:visited{color:#53C9F6;}
ul li,ol li{padding:0 0 .4em 0}
.container{background-color:#fff; margin:0 auto;margin-top: 5px;}
.header{padding:30px 0 10px 0;}
.logo{float:left;font-size:18px;text-shadow:1px 1px 1px #fff;}
.menu_main{width:50%;float:right;text-align:right;margin:.3em 0 0 0;font-size:12px}
.menu_main li{display:inline-block;margin:0 auto;}
.menu_main li.active,.menu_main li.active a{text-decoration:none;}
.info{padding:0 1% 1em 1%}
.hero{background:#fff;padding:15px 0 15px 2%;margin:0 0 15px 0;}
.hero h1{font-size:24px;font-size:18px;color:#3d3d3d}
.article{background:#fff;padding:15px 0 15px 2%;}
.footer{padding:1em 3% 3em 3%;font-size:12px;background-color: #53C9F6;color:#FFF;}
.copyright{float:left;padding-top:4px;line-height:15px;}
.menu_bottom{width:50%;float:right;text-align:right;margin:0;padding:0;font-size:12px}
.menu_bottom a,.menu_bottom a:hover{color:#0085c5}
.menu_bottom li{display:inline-block;margin:0 0 0 4px}
.menu_bottom li.active,.menu_bottom li.active a{color:#666;text-decoration:none;cursor:default}
h1{font-size:22px}
h1,h2,h3,h4{font-weight:normal}
h5,h6{font-weight:bold}
.form label{display:inline-block;padding:0 0 4px 0}
.table{width:100%}
.table th{padding:5px 7px;font-weight:bold;text-align:left;font-size:.9em;border-bottom:1px solid #ddd}
.table td{padding:9px 7px;border-left:1px solid #ddd}
.table tr td:first-child{border-left:0}
.table tr{border-bottom:1px solid #fbfbfb}
.table tr:nth-child(even){background:#f2f2f2}
.table tr:last-child{border:0}
.warning{color:#ec252e;padding:0 0 0 14px;}
.success{color:#0bbe2e;padding:0 0 0 14px;}
.message{color:#bcd9ff;padding:0 0 0 14px;}
/* Columns */
.col_12{width:10%;margin:0 2% 0 0;float:left}
.col_25{width:23%;margin:0 2% 0 0;float:left}
.col_33{width:31%;margin:0 2% 0 0;float:left}
.col_50{width:48%;margin:0 2% 0 0;float:left}
.col_66{width:64%;margin:0 2% 0 0;float:left}
.col_75{width:73%;margin:0 2% 0 0;float:left}
.col_100{width:98%;margin:0 2% 0 0}
.col_12.wrap{width:12%;margin:0}
.col_25.wrap{width:25%;margin:0}
.col_33.wrap{width:33%;margin:0}
.col_50.wrap{width:50%;margin:0}
.col_66.wrap{width:66%;margin:0}
.col_75.wrap{width:75%;margin:0}
.col_100.wrap{width:100%;margin:0}
/* End Columns */
/* Helper classes */
.center{text-align:center}
.left{text-align:left}
.floatleft{float: left;}
.right{text-align:right}
.floatright{float: right;}
.img_floatleft{float:left;margin:0 10px 5px 0}
.img_floatright{float:right;margin:0 0 5px 10px}
.img{max-width:100%}
a.button{color:auto}
/* End helper classes */
/* Clean Form */
.cleanform{position:relative;width:100%;vertical-align: top;}
.cleanform fieldset {border:none; padding:0; width:100%; overflow:hidden;}
.cleanform label {display:block; position:relative;}
.cleanform .message{min-height:253px;}
.cleanform input, .cleanform textarea, .cleanform select {padding:11px 15px 10px;margin:0;font: 12px Arial, Helvetica, sans-serif;background: #fff;outline:none;
border:1px solid #dddde0;width:314px;border-radius:8px;}
.cleanform select{width:346px;}
.cleanform .area .error {float:none;}
.cleanform textarea {width:548px;height:207px;resize:none;overflow:auto;}
.buttons-wrapper{text-align:right; position:relative;}
.cleanform button, .cleanform input[type="button"], .cleanform input[type="reset"], input[type="submit"]{background:url(../../images/bg_menu.jpg) 0 bottom repeat-x #58C9F5;margin-right:10px;font-weight:bold;font-size:14px;padding:11px 15px 10px;cursor:pointer;background-color: #52C7F5;border:1px solid #52C7F5; color:#fff;display: inline-block;border-radius:8px;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease;}
.cleanform button:hover{background:#178AB6;}
@media only screen and (max-width:480px){/* Smartphone */.header{margin-bottom:0}
body{min-width:360px;}
.logo{display:block;float:none;text-align:center}
.menu_main{width:100%;text-align:center;float:none;padding:0;margin:1em 0 0 0}
.menu_main a{display:inline-block;padding:7px}
.copyright{width:100%;float:none;text-align:center}
.footer{padding-bottom:0;}
.menu_bottom{width:100%;float:none;text-align:center;margin:1em 0 0 0;padding:0}
.menu_bottom a{display:inline-block;padding:6px}
.form textarea{width:100%}
.form label{padding:10px 0 8px 0}
#cleanform input, #cleanform textarea{width:268px;}
}
@media only screen and (max-width:768px){/* Tablet */.col_25,.col_33,.col_66,.col_50,.col_75{width:98%;float:none}
.col_12{display:none;}
.form label{padding:10px 0 8px 0}
#cleanform textarea{width:388px;}
}
@media print{/* Printer */ *{background:transparent!important;color:black!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
a,a:visited{color:#444!important;text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
.header,.footer,.form{display:none}
.col_33,.col_66,.col_50{width:98%;float:none}
}